* {
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;


 --green: white;
 --black: rgb(50, 47, 47);
}

.App {
 display: flex;
 background: var(--green);
 height: 100vh;
 width: 100vw;
}

.navbar {
 background-color: var(--black);
 color: white;
 width: 13%;
 min-width: 105px;
 height: 100%;
 padding: 10px;
}

.navbar ul {
 display: flex;
 flex-direction: column;
 margin: 0px auto;
 font-size: 14px;
 list-style: none;
}

.navbar ul li {
 margin: 10px;
}

.navbar ul li:first-child {
 color: aqua;
 margin-bottom: 50%;
}

.container {
 width: 100%;
 margin: 0px auto;
}

.container .blog {
 display: flex;
 flex-direction: column;
 padding: 10px;
}

.container .card {
 background-color: white;
 margin: 10px;
 padding: 10px;
 border-radius: 4px;
 font-size: 10px;
 box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.07);
 color: var(--black);
}

.container .card img {
 width: 100%;
}
